html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol,ul {
	list-style: none;
}

a img {
	border: none;
}

html {
	background: #eeeeee;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
}

#container {
	width: 900px;
	margin: 0 auto 40px;
	background: white;
	padding: 20px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}

#header #menu {
  background: #eee;
  padding: 5px;
}

.panel {
  height: 400px;
  panel: 5px;
}

.panel h1 {
  color: #333;
  font-style: bold;
}

.pane h2 {
  color: #333;
}
  
#footer {
  background: #eee;
  padding: 5px;
}

.active {
	background: #eee;
}
